body{
    background-color: #c6c6c6;
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    overflow-x: hidden;
    margin: 0 auto;
}

.wrapper{
    width:980px;
    min-width: 980px;
    margin:0 auto;
}
/*START header styles*/
header {
    width:100%;
    min-height:590px;
    margin: 0;
    background-color: #7fff91;
    border-bottom: 2px solid #0798c7;
    max-height: 590px;
}

.bg_header{
    margin:0;
    padding: 0;
    width:100%;
    min-height:590px;
    position: absolute;
    background: rgba(0, 0, 0, 0) url("../img/bgh1.png") no-repeat scroll center 0 / 1910px auto;
}


/*END header styles*/

/*START header nav styles*/
.nav{
    background: #0798c7 none repeat scroll 0 0;
    opacity:0.8;
    width:100%;
    height: 70px;
    font-size: 17px;
}

ul{
    padding:0;
    margin: 0;
    list-style-type: none;
}

li{
    margin: 0;
}

header nav{
    margin:0;
    width:100%;
    height:70px;

}

header nav ul, .lang ul{
    display: flex;
    align-items:center;
}

header nav ul{
    justify-content:space-around;
    height:70px;
}

header nav ul li a{
    color: #fff;
    opacity:1;
}
/*END header nav styles*/
/*START lang styles*/

.lang{
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    float: right;
    margin: 13px 0 0;
    width: 200px;
}

.lang ul{
    justify-content: flex-end;
    margin-right: 9px;
}

.lang ul li{
    margin:0 7px;
}

a{
    text-decoration: none;
}

.lang ul li a{
    color: #b2c6ce;
}

.lang ul li a:hover{
    color: #41a6ce;
}
/*END lang styles*/

/*START logo styles*/
.logo{
    background: url("../img/logo.png") no-repeat 0 0 / contain;
    height: 223px;
    width: 229px;
    margin: 75px 0 0 17px;
    position: relative;
}
/*END logo styles*/

/*START cities styles*/
.cities{
    position: relative;
    height: 400px;
    left: 600px;
    top: -235px;
}

[class^=city]{
    border-radius: 32px 0 0 32px;
    text-transform: uppercase;
    height:65px;
    width: 600px;
    position: relative;
    left: -6px;
    margin: 0 0 0 73px;
    padding: 0 0 0 105px;
}

.city1, .city2{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4a9+0,d0e4a9+5,cfe3a5+6,c7df8f+11,b6d55f+18,aed048+22,a9cd39+26,a9cd39+30,accf42+32,b3d356+36,bdda74+39,c8e093+42,cbe29b+45,dceccc+64,e7f3ec+79,ecf6fb+89,ecf6fb+100&0.06+0,1+0,1+100 */
    background: -moz-linear-gradient(left, rgba(208,228,169,1) 0%, rgba(208,228,169,1) 5%, rgba(207,227,165,1) 6%, rgba(199,223,143,1) 11%, rgba(182,213,95,1) 18%, rgba(174,208,72,1) 22%, rgba(169,205,57,1) 26%, rgba(169,205,57,1) 30%, rgba(172,207,66,1) 32%, rgba(179,211,86,1) 36%, rgba(189,218,116,1) 39%, rgba(200,224,147,1) 42%, rgba(203,226,155,1) 45%, rgba(220,236,204,1) 64%, rgba(231,243,236,1) 79%, rgba(236,246,251,1) 89%, rgba(236,246,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(208,228,169,1) 0%,rgba(208,228,169,1) 5%,rgba(207,227,165,1) 6%,rgba(199,223,143,1) 11%,rgba(182,213,95,1) 18%,rgba(174,208,72,1) 22%,rgba(169,205,57,1) 26%,rgba(169,205,57,1) 30%,rgba(172,207,66,1) 32%,rgba(179,211,86,1) 36%,rgba(189,218,116,1) 39%,rgba(200,224,147,1) 42%,rgba(203,226,155,1) 45%,rgba(220,236,204,1) 64%,rgba(231,243,236,1) 79%,rgba(236,246,251,1) 89%,rgba(236,246,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(208,228,169,1) 0%,rgba(208,228,169,1) 5%,rgba(207,227,165,1) 6%,rgba(199,223,143,1) 11%,rgba(182,213,95,1) 18%,rgba(174,208,72,1) 22%,rgba(169,205,57,1) 26%,rgba(169,205,57,1) 30%,rgba(172,207,66,1) 32%,rgba(179,211,86,1) 36%,rgba(189,218,116,1) 39%,rgba(200,224,147,1) 42%,rgba(203,226,155,1) 45%,rgba(220,236,204,1) 64%,rgba(231,243,236,1) 79%,rgba(236,246,251,1) 89%,rgba(236,246,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4a9', endColorstr='#ecf6fb',GradientType=1 ); /* IE6-9 */
}

.city1{
    top: -57px;
    z-index: 1;
}

.city2{
    top: -104px;
}


.cities p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 0 0;
}

.circle1{
    width: 100px;
    height: 100px;
    background-color: #f4f9f9;
    margin: 0;
    position: relative;
    top: 35px;
    border-radius: 50%;
    left: 47px;
    opacity: 0.70;
    z-index: 3;
}

.b{
    width: 72px;
    height: 72px;
    background-color: #ccf05c;
    border-radius: 50%;
    position: relative;
    top:15px;
    left:15px;
    opacity: 1.00;
}

.c{
    width: 65px;
    height: 65px;
    background-color: #b0d146;
    border-radius: 50%;
    position: relative;
    top:3px;
    left:3px;
}

.d{
    width: 28px;
    height: 28px;
    background-color: #e6efc0;
    border-radius: 50%;
    position: relative;
    top: 18px;
    left: 19px;
}

[class^=city]:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ee5f2+0,7ee5f2+5,76e4f1+7,60e0f0+11,25d8eb+19,0fd4ea+23,06d3e9+26,06d3e9+30,12d5ea+32,26d8ec+35,47ddee+38,70e3f1+42,74e4f2+43,b6eef7+64,ddf4fa+80,ecf6fb+89,ecf6fb+100&0.06+0,1+0,1+100 */
    background: -moz-linear-gradient(left, rgba(126,229,242,1) 0%, rgba(126,229,242,1) 5%, rgba(118,228,241,1) 7%, rgba(96,224,240,1) 11%, rgba(37,216,235,1) 19%, rgba(15,212,234,1) 23%, rgba(6,211,233,1) 26%, rgba(6,211,233,1) 30%, rgba(18,213,234,1) 32%, rgba(38,216,236,1) 35%, rgba(71,221,238,1) 38%, rgba(112,227,241,1) 42%, rgba(116,228,242,1) 43%, rgba(182,238,247,1) 64%, rgba(221,244,250,1) 80%, rgba(236,246,251,1) 89%, rgba(236,246,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(126,229,242,1) 0%,rgba(126,229,242,1) 5%,rgba(118,228,241,1) 7%,rgba(96,224,240,1) 11%,rgba(37,216,235,1) 19%,rgba(15,212,234,1) 23%,rgba(6,211,233,1) 26%,rgba(6,211,233,1) 30%,rgba(18,213,234,1) 32%,rgba(38,216,236,1) 35%,rgba(71,221,238,1) 38%,rgba(112,227,241,1) 42%,rgba(116,228,242,1) 43%,rgba(182,238,247,1) 64%,rgba(221,244,250,1) 80%,rgba(236,246,251,1) 89%,rgba(236,246,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(126,229,242,1) 0%,rgba(126,229,242,1) 5%,rgba(118,228,241,1) 7%,rgba(96,224,240,1) 11%,rgba(37,216,235,1) 19%,rgba(15,212,234,1) 23%,rgba(6,211,233,1) 26%,rgba(6,211,233,1) 30%,rgba(18,213,234,1) 32%,rgba(38,216,236,1) 35%,rgba(71,221,238,1) 38%,rgba(112,227,241,1) 42%,rgba(116,228,242,1) 43%,rgba(182,238,247,1) 64%,rgba(221,244,250,1) 80%,rgba(236,246,251,1) 89%,rgba(236,246,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ee5f2', endColorstr='#ecf6fb',GradientType=1 ); /* IE6-9 */
}

#circle2{
    top: -13px;
}
/*END cities styles*/

/*START name styles*/

.name{
    position: relative;
    top: -380px;
    z-index:200;
    color: #fff;
    font-size: 24px;
    left: 22px;
}

/*END name styles*/

/*START social styles*/

.social{
    font-size: 18px;
    margin: 0 0 0 10px;
    left: 20px;
    position: relative;
    top: -363px;
}

.social a{
    color: #fff;
}

.social .fa-stack-2x{
    opacity:0.7;
}

.social a:hover .fa-stack-2x {
    opacity:1;
}

.social .fa-stack-1x{
    color: #BCCFD6;
}

/*END social styles*/

/*START services styles*/

.services{
    background-color: #dae5e9;
    height:400px;
}

.services > .wrapper{
    display: flex;
    justify-content:space-around;
    align-items:baseline;;
}

.services .wrapper .item{
    width: 174px;
    color: #3e4040;
    font-size: 18px;
    text-align: center;
    height: 282px;
    position: relative;
}

.services .wrapper .item img{
    width:166px;
    height:166px;
    border-radius: 50%;
    border:2px solid #868a8c;
    margin: 0 0 0 2px;
    position: relative;
    top: -173px;
}

.services .wrapper .item p{
    position: relative;
    top: -177px;
}

.services .circle{
    width: 174px;
    height: 174px;
    position: relative;
    top: 0px;
    border:1px solid #868a8c;
    border-radius:50%;
}

.services .wrapper a{
    width: 175px;
    height: 283px;
    position: relative;
    top: 49px;
}

.services .wrapper a:hover .circle{
    border:1px solid #85c2d7;
}

/*END services styles*/

/*START philosophy styles*/

.philosophy{
    background-color: #fff;
    max-height:340px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 340px;
}

.philosophy > .wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
}

.philosophy h4{
    margin: 0 0 14px 0;
    font-weight: normal;
    font-size:18px;
}

.capo{
    width:200px;
    height:200px;
    background: url("../img/a_man.png") no-repeat 0 0 / contain;
    border-radius: 50%;
    border:18px solid #ecf2f4;
}

.words{
    height:200px;
    width: 700px;
    color: #2b2b2b;
    font-size: 12px;
    margin: -27px 0 0 15px;

}

.words p{
    text-indent: 20px;
    margin:0;
}

.wrapper p:last-child{
    margin: 10px 0 0 0;
    text-indent: 0;
}

.philosophy .wrapper::before {
    content: open-quote;
    color: #edf2f4;
    font-size: 110px;
    position: relative;
    top: -102px;
    left: 0px;

}

.philosophy .wrapper:after{
    content: close-quote;
    color: #edf2f4;
    font-size: 110px;
    position: relative;
    top: 166px;
    left: 0;
}

/*END philosophy styles*/


/*START gallery styles*/

.gallery{
    z-index:1000;
    height:500px;
    max-height: 500px;
    position: relative;
    top: 0;
    background: rgba(0, 0, 0, 0) url("../img/bg_gallery.png") no-repeat scroll center 0 / cover;
    min-height: 500px;
}

.gallery .wrapper h3{
    margin: 0;
    text-align: center;
    color: #fff;
}

.gallery .slider{
    margin: 0 auto;
    width: 900px;
    height: 455px;
}

/*END gallery styles*/


/*START news styles*/

.news{
    min-height: 530px;
    background-color: #fff;
    padding: 30px 0 0;
}

.news h3{
    text-align: center;
    color: #393939;
    margin: -7px 0 0;
    font-size: 27px;
}

.news .nwpr{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    margin: 23px 0 0;
}

.news_item{
    width: 310px;
}

.news .img_news{
    width:310px;
    height:220px;
}

.news .news_item:first-child .img_news{
    background: rgba(0, 0, 0, 0) url("../img/news1.png") no-repeat scroll -54px 0;
}

.news .news_item:nth-child(2) .img_news{
    background: rgba(0, 0, 0, 0) url("../img/news2.png") no-repeat scroll -77px 0;
}

.news .news_item:last-child .img_news{
    background: rgba(0, 0, 0, 0) url("../img/news3.png") no-repeat scroll -17px 0;
}

.news_item h3{
    margin: 18px 0 0 0;
    text-align: left;
    font-size:21px;
    display: block;
    height: 50px;
}

.news_item p{
    font-size: 15px;
    margin: 9px 0 0;
}

.news_item p:last-of-type{
    font-size:12px;
    margin: 19px 0 0 0;
}


/*END news styles*/